.layuimini-content-page{background-color:#f2f2f2!important;}
.layuimini-container {border:1px solid #f2f2f2;border-radius:5px;background-color:#f2f2f2}
.layuimini-main {margin:10px 10px 10px 10px;border:5px solid #ffffff;border-radius:5px;background-color:#ffffff}
.layui-breadcrumb>* {font-size: 13px;!important;}

/**必填红点 */
.layuimini-form>.layui-form-item>.required:after {content:'*';color:red;position:absolute;margin-left:4px;font-weight:bold;line-height:1.8em;top:6px;right:5px;}
.layuimini-form>.layui-form-item>.layui-form-label {width:120px !important;}
.layuimini-form>.layui-form-item>.layui-input-block {margin-left:150px !important;}
.layuimini-form>.layui-form-item>.layui-input-block >tip {display:inline-block;margin-top:10px;line-height:10px;font-size:10px;color:#a29c9c;}

/**搜索框*/
.layuimini-container .table-search-fieldset {margin: 0;border: 1px solid #e6e6e6;padding: 10px 20px 5px 20px;color: #6b6b6b;}

html, body {
    font-family: "ALKATIP Basma Tom", Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: "ALKATIP Basma Tom";
    src: local("alkatip basma tom"),url(/fonts/ALKATIPBasmaTom.ttf) format("opentype"); /* non-IE */
}

.layuimini-main {
    padding-bottom: 50px;
}

.pa-5 {
    padding: 5px;
}

.pa-20 {
    padding: 20px;
}

.rtl {
    direction: rtl !important;
}

.rtl .layui-body {
    left: 0;
    right: 200px;
}

.rtl .layui-side {
    left: auto;
    right: 0;
}

.rtl.layuimini-mini .layui-body {
    left: 0 !important;
    right: 60px;
}

.rtl .layui-logo {
    right: 0;
    left: auto;
}

.rtl .layui-layout-right{
    left: auto !important;
    right: 295px !important;
}

.rtl.layuimini-mini .layui-layout-right{
    left: auto !important;
    right: 155px !important;
}

.rtl .layui-nav.layui-layout-right.layuimini-header-menu.mobile.layui-hide-xs {
    transition: all .2s;
}

.rtl .layuimini-tool {
    left: auto;
    right: 235px;
}

.rtl.layuimini-mini .layuimini-tool{
    left: auto !important;
    right: 95px;
}
.rtl.layuimini-mini .layuimini-menu-left .layui-nav .layui-nav-item a {
    padding-right: 25px !important;
}

.rtl .layui-layout-left {
    left: 0 !important;
}

.rtl .layui-form-label {
    float: right;
}

.rtl .layuimini-form>.layui-form-item>.layui-input-block {
    margin-right: 150px !important;
}

.rtl .layui-layer-setwin {
    right: auto;
    left: 15px;
}

.rtl .layui-layer-title {
    padding: 0 20px 0 80px;
}

.rtl .layui-input-block {
    margin-left: 0;
    margin-right: 110px;
}

.rtl .layui-input,
.rtl .layui-textarea {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .layui-form-select .layui-input {
    padding-right: 30px;
}

.rtl .layui-layer-dialog .layui-layer-padding {
    padding: 20px 55px 20px 20px
}

.rtl .layui-layer-ico {
    left: 0;
    right: 15px;
}

.rtl .layui-iconpicker-search .layui-input {
    padding-right: 30px;
}

.rtl .layui-btn-group .layui-btn {
    border-right: 1px solid rgba(255,255,255,.5);
    border-left: none;
}

.rtl .layui-btn-group .layui-btn:last-child{
    border-radius: 2px 0 0 2px;
}

.rtl .layui-btn-group .layui-btn:first-child {
    border-radius: 0 2px 2px 0;
}

.rtl .layui-table-tool-temp {
    padding-right: 0;
}
.rtl .layui-table-tool-self {
    right: auto;
    left: 17px;
}

.rtl .layui-table-page .layui-laypage {
    direction: ltr;
}

.rtl .layui-form-checkbox[lay-skin=primary] {
    padding-left: 0;
    padding-right: 28px;
}

.rtl .layui-form-checkbox[lay-skin=primary] span {
    padding-right: 0;
}

.rtl .layui-form-checkbox[lay-skin=primary] i {
    left: auto;
    right: 0;
}

.input-mode {
    position: absolute;
    background-color: #ddd;
    padding: 3px 6px 0 6px;
    z-index: 9999;
    opacity: .7;
    transition: all .3s ease;
    border-radius: 3px;
}

.input-mode:hover {
    opacity: 1;
}

.input-mode .fa {
    cursor: pointer;
    margin: 0 2px;
}

.rtl .layui-btn+.layui-btn {
    margin-left: 0;
    margin-right: 10px;
}

.layui-elem-field {
    padding: 10px 20px 20px;
}
